body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: 'IBM Plex Mono', 'Courier New', monospace;
  font-size: 24px;
  height: 100vh;
}

.terminal {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#output{
}

#input{
  visibility: hidden;
  display: flex;
  width: 100%;
  gap: 8px;
}

#input-form{
  display:flex;
  flex:1;
}

#command-input{
  background: #000;
  border: none;
  color: #fff;
  font-family: 'IBM Plex Mono', 'Courier New', monospace;
  font-size: inherit;
  outline: none;
  flex:1;
}

#user{
  color: #a769ff
}

#host{
  color: #a769ff
}

#error{
  color:#ff6978
}

#accent{
  color:#a769ff
}
